
/* @media(max-width: 320px) {
    .top {
        background: red;
    }

    .about-item {
        width: 100%;
    }
    .food-items {
        width: 100%;
    }
    .phan-hoi-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .team-items {
        width: 100%;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 320px){
    .menutop{
        display: none;
    }
    .logo{
        justify-items: center;
    }
  } */