@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* Đặt biến màu chủ đạo */
:root {
    --main-color: #a60817;
    --sub-color: #feb300;
    --text-color: #ffffff;
    --bg--color:#8a2f2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.btn {
    background-color: transparent;
    padding: 15px 50px; 
    border: 2px solid var(--sub-color);
    border-radius: 50px;
    color: var(--sub-color);
    cursor: pointer;
    transition: all 0.6s ease;
}

.btn:hover {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.section-padding {
    padding: 80px 0;
}
.justify-content {
    justify-content: space-between;
}

.container {
    margin: auto;
    max-width: 90%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
/* Top-logo-menu */
.top {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.4s ease ;
}

.top.active::before {
    transform: translateY(0);
}

/* Logo */
.top .logo img {
    width: 150px;
    cursor: pointer;
}
/* Menu */
ul{
    display: flex;
    cursor: pointer;
    transition: all 0.4s ease;
}
.list-menu{
    display: flex;
    justify-content: center;
}

.menu-items {
    margin-top: 65px;
    float: left;
    background-color: transparent;
    list-style: none;

}

.menu-items a {
    color: rgb(211, 193, 154);
    padding: 30px;
    font-size: 20px;
    font-family: 'Dancing Script',sans-serif;
    font-weight:50 ;
}

.menu-items a:hover {
    color: var(--sub-color);
    transition: all 1s ease;
}
/* Big-image */
.big-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.big-image::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../image/big.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: Inout 5s infinite;
}
/* Css Inout ảnh nở ra thu vào */
@keyframes Inout {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

.big-image::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -2;
}

.big-image .big-image-content {
    text-align: center;
    max-width: 500px;
}

.big-image .big-image-content h2 {
    font-size: 50px;
    color: var(--text-color);
    font-family: 'Dancing Script';
}

.big-image .big-image-content p {
    font-size: 25px;
    color: var(--text-color);
    font-weight: bold;
    margin: 15px 0;
    font-family: 'Roboto',sans-serif;
}

/* About */
.about {
    background-color: var(--main-color);
}

.about-item .btn {
    margin: 20px 0;
}

.section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-color);
    text-transform: uppercase;
}

.section-title h2::before {
    content: attr(data-title);
    display: block;
    color: var(--sub-color);
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.about .about-item h2 {
    color: var(--text-color);
    font-size: 35px;
}

.about .about-item p {
    font-size: 18px;
    margin: 15px 0;
    color: var(--text-color);
    font-family: 'Roboto',sans-serif;
}
.about .about-item img {
    width: 100%;
    border-radius: 10px;
}

.about-item {
    width: calc(100%/2);
    padding: 15px;
}

.about-item-img {
    position: relative;
}

.about-item-img span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--sub-color);
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 30px;
    transform: translate(-50%,-50%);
}

.about-item-img::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border: 3px solid var(--main-color);
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    animation: xoayVong 5s infinite;
}

@keyframes xoayVong {
    0% {
        transform: rotate(0deg);
    
    }
    100%{
        transform: rotate(360deg);
    }
}
/* Xem menu */
.menu {
    background-color: var(--bg--color);
}

.menu-title {
    width: 100%;
    text-align: center;
}

.menu-title .menu-button {
    background-color: transparent;
    margin: 10px 12px;
    border: none;
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
}

.menu-title .menu-button.active {
    color: var(--sub-color);
}
.menu-title .menu-button:hover {
    color: var(--sub-color);
}

.food-items {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    position: relative;
}

.food-items::before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    border: 1px dashed var(--sub-color);
    width: 100%;
}

.food-items:hover .food-item p {
    color: var(--sub-color);
}

.food-items:hover .food-price p {
    color: var(--text-color);
}

.food-item {
    display: flex;
    align-items: center;
}
.food-item img {
    width: 100px;
    margin-right: 25px;
}

.food-item p {
    color:  var(--text-color);
    transition: all 0.3s ease-in;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
}

.food-price p {
    color:  var(--sub-color);
    transition: all 0.3s ease-in;
    font-size: 20px;
}

.menu-item-content {
    display: none;
}

.menu-item-content.active {
    display: flex;
    flex-wrap: wrap;
}
/* Phản hồi */
.phan-hoi {
    background-color: var(--main-color);
}

.phan-hoi-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.phan-hoi-item {
    width: calc(100%/3 - 30px);
    margin: 0 15px;
    border: 3px solid var(--bg--color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 2px 1px  var(--bg--color);
    cursor: pointer;
}

.phan-hoi-item h2 {
    font-size: 20px;
    color: var(--text-color);
}

.phan-hoi-item:hover img {
    border-color: var(--sub-color);
}
.phan-hoi-item span {
    color: var(--text-color);
}

.phan-hoi-item p {
    color: var(--text-color);
    font-size: 18px;
    margin: 20px 0;
    font-family: 'Roboto',sans-serif;
}

.phan-hoi-item img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--bg--color);
    transition: all 0.3s ease;
}

.phan-hoi-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phan-hoi-item-star i {
    color: var(--sub-color);
}
/* Team */
.team {
    background-color: var(--bg--color);
}

.team-items {
    padding: 15px;
    width: calc(100%/3);
    position: relative;
}

.team-items img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.team-items:hover .team-items-text {
    background-color: var(--sub-color);
    transform: translateY(-50px);
}

.team-items:hover img {
    transform: skewX(2deg);
}
.team-items-text {
    position: absolute;
    padding: 15px 0;
    right: 30px;
    left: 30px;
    bottom: 0;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 10px;
    transform: translateY(30%);
    transition: all 0.5s ease;
}

.team-items-text h2 {
    color: var(--text-color);
}

.team-items-text span {
    color: var(--text-color);
}
/* Footer */
.footer {
    
    padding-top: 80px;
    position: relative;
}

.footer-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../image/footer.jpg);
    z-index: -2;
}

.footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    opacity: 0.4;
    z-index: -1;
}

.footer-item {
    text-align: center;
    width: calc(100%/3);
}

.footer-item i{
    color: #ffffff;
    font-size: 25px;
    margin-right: 12px;
    cursor: pointer;
    transition: var(--sub-color);
}

.footer-item i:hover {
    color: var(--sub-color);
}

.footer h2 {
    color: var(--text-color);
    font-size: 25px;
}

.footer p {
    color: var(--text-color);
    margin: 12px 0;
    font-family: 'Roboto',sans-serif;
}

.footer-copyright {
    text-align: center;
    padding: 15px 15px;
    color: #fff;
    margin-top: 20px;
    border-top: 2px solid var(--bg--color);
}